# Ignore virtual environment
venv/
.venv/
/mypractice/

# Ignore Python cache files
__pycache__/
implementation/__pycache__/queue_sim.cpython-312.pyc 
implementation/__pycache__/   
implementation/queue_sim2.py
implementation/queue_sim3.py
implementation/queue_sim1.py
libs/__pycache__/discrete_event_sim.cpython-312.pyc        
libs/__pycache__/workloads.cpython-312.pyc
storage_sim/__pycache__
storage_sim/myenv
storage_sim/plots/
storage_sim/plots_old
storage_sim/plots
storage_sim/plots50y
storage_sim/DS_Store

main/main2.py
main/main1.py
*.py[cod]
*$py.class

# Ignore VSCode settings
.vscode/

# Ignore data files
data/
/automation/data/

# Ignore plot images
plots/


# Ignore compiled files
*.so
*.o
*.a
*.out

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp
*.swp
*.swo

# Ignore backup files
*.bak
*.old
*.orig

# Ignore system files
.DS_Store
Thumbs.db
